.container {
  background-color: #3D4145;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  width: 30%;
  background-color: #1A1A1A;
  padding: 6rem 4rem;
  border-radius: 5rem;
  font-size: 1rem;
}

.form h2 {
  padding: 2rem 0;
  font-size: 2.1rem;
  text-align: center;
}

.form label {
  font-weight: 400;
}

.form-group {
  margin: 2.5rem 0rem;
}

.form-control {
  font-size: 1rem;
  background-color: #3D4145;
  width: 100%;
  margin: 1rem 0 0 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn {
  font-size: 1.2rem;
  display: block;
  width: 12rem;
  margin: 1rem 0;
  padding: 1.2rem 1rem;
  background-color: #118CFE;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.is-invalid {
  border-color: #F25C5C;
}

.alert-danger {
  color: #F25C5C;
}

/* Estilos para tablet */
@media (max-width: 820px) {
  .container {
    background-color: #1A1A1A;
  }

  .form {
    width: 100%;
    padding: 4rem 2rem;
    border-radius: 0;
  }

  .form h2 {
    font-size: 1.8rem;
    padding: 1rem 0;
  }

  .form-group {
    margin-bottom: 10px;
  }
}

/* Estilos para móvil */
@media (max-width: 375px) {
  .container {
    background-color: #1A1A1A;
  }

  .form {
    width: 100%;
    padding: 2rem 1rem;
  }

  .form h2 {
    font-size: 1.8rem;
    padding: 1rem 0;
  }

  .form-group {
    margin: 2.5rem 0rem;
  }

  .btn-container {
    justify-content: center;
  }

  .btn {
    font-size: 1rem;
    padding: 1rem;
  }
}
